<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="name" value="hello" />
	<test name="chromeTest">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="org.ngtest.NgTestClass2" />
		</classes>
	</test> <!-- Test -->
	<test name="firefoxTest">
		<parameter name="browserName" value="firefox" />
		<classes>
			<class name="org.ngtest.NgTestClass2" />
		</classes>
	</test> <!-- Test -->
	<test name="ieTest">
		<parameter name="browserName" value="ie" />
		<classes>
			<class name="org.ngtest.NgTestClass2" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
